<div class = "userIndex">
  <div class='userWraper'>
   <%= image_tag(@user.photo) %>  
   <div class='userInner'>
     <h1 class="name"><%= @user.name%></h1>
     <p class='num'>Number of posts: <%= @user.posts_counter || 0%></p>
   </div>
  </div>
  <div class = "bio">
    <p class="bioHead">Bio</p>
    <p> <%= @user.bio%></p>
  </div>

  <% @posts.each do |post|%>
    <div class= "post">
     <p class= "title"> <%= post.title%> </p>
     <p class="text"> <%= post.text%> </p>
     <p class="counters">Comments: <%= post.comments_counter || 0%>, Likes: <%= post.likes_counter || 0%></p>
    </div>
  <% end %>
 
 <a href="/users/<%=@user.id%>/posts"> <button class="seePosts">See all posts</button> </a>
 
 </div>

 