<h1><%= @user.name %></h1>
 <p>Name : <%= @user.name%></p>
 <p>Bio : <%= @user.bio%></p>
 <p>Created at: <%= @user.created_at %></p>
 <p>Updated at: <%= @user.updated_at %></p>
 <p>Number of posts : <%= @user.posts_counter %> </p>
 <h2>posts</h2>
  <ul>
   <% @posts.each do |post| %>
    <li><%= link_to post.title, user_post_path(post)%></li>
   <% end %>
  </ul>