<h1><%= @user.name %></h1>
 <p>Name : <%= @user.name%></p>
 <p>Bio : <%= @user.bio%></p>
 <p>Created at: <%= @user.created_at %></p>
 <p>Updated at: <%= @user.updated_at %></p>
 <p>Number of posts : <%= @user.posts_counter %> </p>
 <h2><%= link_to 'Posts', user_posts_path(@user) %></h2>
 <% @posts.each do |post|%>
    <li> <%= post.title%></li>
 <% end %>