<div class="PostShow">
  <h1 clas="showPsotTilte"><%= @post.title %> by <%= @user.name%> </h1>
  <p class="countersShow">Comments: <%= @post.comments_counter || 0%>, Likes: <%= @post.likes_counter || 0%></p>
  <p class="showPostText"><%= @post.text %> </p>
</div>
<div class="commentsShow">
  <% @comments.each do |comment| %>
    <p> <%= comment.author.name%>: <%= comment.text%></p>
  <% end %> 
</div>





